@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

body {
  background-color: #262626 ;
  color: #fff ;
  font-family: 'Montserrat' ;
}

.container-fluid {
  display: table;
  box-sizing: border-box;
}

html, body, .container-fluid {
  max-height: 100% ;
}

#wykres1, #wykres2 {
  max-height: 50vh;
}

form {
  max-height: 100vh;
}

.form-check {
  color: black;
}

.row {
  display: flex;
  align-items: center
}
