@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

body {
  background-color: #262626 ;
  color: #fff ;
  font-family: 'Montserrat' ;
}

.container-fluid {
  margin-top: 5%;
  display: table;
  box-sizing: border-box;
}

html, body, .container-fluid {
  height: 100%;
}
